h1 {
    text-align: center;
    color: darkblue;
}

.pic{
    width: 1250px;
    height: 350px;
}

.flex-container > div {
    background-color: darkblue;
    flex-direction: row;
    width: 100px;
    height: 90px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: aliceblue; 
}

.flex-container{
    height: 750px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(69, 51, 51);
    justify-content: end;
    align-items: center;
}

p {
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    border: solid 2px red;

}

#div1 {
    background-color: rgb(5, 88, 0);
    color: brown;
    align-self: flex-end;
    flex-grow: 3;
}

#div2 {
    background-color: rgb(5, 88, 69);
    color: brown;
    align-self: flex-start;
}

#div3 {
    background-color: rgb(88, 88, 69);
    color: brown;

}

#div4 {
    background-color: rgb(88, 144, 69);
    color: brown;
    align-self: last baseline;
}

#div5 {
    background-color: rgb(255, 0, 179);
    color: brown;
}

#dive1 {
    justify-content: space-between;
}